body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-size: 14px;
  list-style: none;
}

.h1 {
  font-family: "Sharp Grotesk 23";
}

.top {
  height: 600px;
  background-color: #141212;
  color: white;
}

.navbar-brand img {
  height: 20px;
  width: 120px;
}



.top .text {
  position: relative;
  top: 100px;
  text-align: center;
  justify-content: center;
}



.btn-centre button {
  position: relative;
  top: 100px;
  left: 43%;
  padding: 15px 30px 15px 30px;
  color: #141212;
  font-weight: bold;
  align-items: center;
}



.img-fluid img {
  margin-top: 150px;
  min-height: 150px;
  max-height: 200px;


}



.btm-top {
  position: relative;
  left: 0px;
  padding-bottom: 150px;
  background-color: #141212;
  width: 100%;
}



.btm-top h1 {
  text-align: center;
  padding-top: 20px;
  color: white;
}


.sec {
  position: relative;
  left: 20px;
  width: 100%;
  top: 80px;
  color: white;
  display: flex;
  flex-direction: row;

}




.sec span {
  font-weight: bolder;

}

.sec .cloud,
.smiley,
.twinkle,
.shield {

  padding: 10px;
  width: 200px;
  text-align: left;
}

.middle {
  height: max-content;
  text-align: left;
}

.middle h1 {
  position: relative;
  top: 50px;
  text-align: center;
}


.prducts {
  position: relative;
  top: 100px;
  left: 100px;
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(4, 100px);
  grid-row-gap: 20px;
}

.sec1 button {
  border: none;
  background-color: transparent;

}

.sec1 button a {
  color: #141212;
  font-weight: bold;
}

.prducts .sec1 {
  width: 250px;
  padding: 50px;
}



.mid-2 {
  height: max-content;
  width: 100%;
  background-color: #141212;
  position: relative;
  top: 100px;
}

.mid-2 h1 {
  text-align: center;
  padding: 50px;

}

.row .caption {
  margin-left: px;
  margin-top: 10px;
  margin-bottom: 100px;
  color: #ffffff;
  text-decoration: none;

}

.caption button {
  color: #141212;
  font-weight: bold;
  padding: 20px;
  ;
}

.caption span {
  font-weight: bolder;
}

.thumbnail {
  margin-left: 30px;
}

.btm-mid-2 {
  color: #ffffff;
}

.sec2 {
  display: flex;
}


.e1 {
  width: max-content;
  padding: 20px;
  line-height: 30px;
}

.e1 span {
  font-weight: bolder;

}

.e1 h1 {
  text-align: left;
  position: relative;
  padding: 0;
}

/* Middle 3 */

.mid-3 {
  height: 1300px;
  width: 100%;
  position: relative;
  top: 150px;
}


.mid-3-head h1 {
  text-align: center;
  color: #141212;
}

.mid-3-head p {
  text-align: center;
}

.mid-5 {
  height: 750px;
  width: 100%;
  position: relative;
  top: 300px;
  background-color: #141212;

}

.mid-5-head {
  position: relative;
  top: 80px;

}



.mid-5-head h1 {
  text-align: center;
  color: #f1f1f1;

}

.mid-5-head p {
  text-align: center;
  color: #f1f1f1;
}

.mid-5 .carousel {
  position: relative;

}

.carousel-div img {
  height: 300px;
}

.carousel-item {
  margin-top: 90px
}

.carousel-item,
.carousel-div,
.carousel-div img {
  height: 400px
}

.carousel-div .descp1 {
  width: 500px;
  color: #ffffff;
  background-color: #9b0032;
  font-size: 20px;
}

.carousel-div .descp2 {
  width: 500px;
  color: #000000;
  background-color: rgb(250, 85, 30);
  font-size: 20px;
}

.carousel-div .descp3 {
  width: 500px;
  color: #000000;
  background-color: rgb(0, 120, 145);
  font-size: 20px;
}

.carousel-div .descp4 {
  width: 500px;
  color: #000000;
  background-color: rgb(180, 220, 25);
  font-size: 20px;
}

.carousel-div .descp5 {
  width: 500px;
  color: #000000;
  background-color: rgb(120, 40, 110);
  font-size: 20px;
}

.carousel-div .descp6 {
  width: 500px;
  color: #000000;
  background-color: rgb(255, 175, 165);
  font-size: 20px;
}

.carousel-div .descp7 {
  width: 500px;
  color: #000000;
  background-color: rgb(250, 210, 75);
  font-size: 20px;
}


.carousel-div .dialogue {
  font-size: 20px;
  font-style: italic;
  padding: 20px;

}

.carousel-div a {
  color: #141212;
  font-weight: bolder;
  margin-left: 20px;
}

.carousel-div .author {
  position: relative;
  margin-left: 20px;
}

.carousel-div {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

footer {

  height: 700px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 300px;

}




.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 1.9em;
  font-size: 12px;
  color: #f1f1f1;
}

.footer a {
  text-decoration: none;
  color: white;
}

.social {
  position: relative;
  top: 120px;
  left: 50px;

}

.divider {
  border: 1px solid rgba(255, 255, 255, 0.482);
  width: 100px;
  position: relative;
  top: 150px;
  left: 60px;

}

.social i {

  margin-left: 15px;
}

.container li a {
  font-size: 12px;
}

.container li a:hover {
  font-style: oblique;
  font-size: 12px;
  text-decoration: underline;
}

.container {
  justify-content: left;
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  left: 10%;
  text-align: left;
}

#language {
  background: none;
  border: none;
  color: #ffffff;
}


.popupk {
  display: none;
  position: fixed;
  padding: 10px;
  width: 400px;
  left: 50%;
  margin-left: -150px;
  height: 380px;
  top: 40%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #6e6e6e;
  z-index: 20;
}

#popupk:after {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popupk:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f1f1f1;
  z-index: -1;
}

.popupk ul a{
  color: #141212;
  display: block;
  font-size: 10px;
}
.popupk ul a:hover{
  color: blue;
  text-decoration: underline;
}
/* Styling buttons & webpage */

@media(max-width:820px){
  
.popupk {
  display: none;
  position: fixed;
  padding: 10px;
  width: 400px;
  margin-left: -200px;
  height: 380px;
  top: 40%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #6e6e6e;
  z-index: 20;
}

#popupk:after {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

}


.popupk button {
    position: relative;
    border: 3px solid transparent;
    color: #9b0032;
    font-size: 20px;
    top: 0;
    float: right;
    margin-top: -35px;
  }

.popupk button:hover {
    background-color: #F04A49;
    color: #FFF;
    border: 3px solid #F04A49;
    transition: all 0.3s ease 0s;
}

@media (max-width:820px) {


  .mid-5 {
    height: 800px;
  }

  .footer {
    height: 950px;
  }

  .container {
    justify-content: left;
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    column-gap: 150px;
  }
}

.container h2 {
  font-size: 14px;
}





























.col1 ul {
  list-style: none;
  color: #f1f1f1;
}

.col1 li {
  color: white;
}

@media (max-width:800px) {
  .carousel {
    position: relative;
    left: 0;
  }

  .carousel-div {
    display: flex;
    flex-direction: column;

  }


}

@media (max-width:770px) {

  .carousel {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
  }

}

.mid-5 .text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.mid-5 .text button {
  margin-left: 50px;
}

.mid-4 {
  height: 500px;
  width: 100%;
  position: relative;
  top: 150px;

}

.carousel button {
  margin-top: 50px;
  color: black;
}



.mid-4-head h1 {
  text-align: center;
  color: #141212;
}

.mid-4-head p {
  text-align: center;
}

/* Collapse  */
.dual1 {
  position: relative;
  justify-content: center;
  left: 100px;
  top: 50px;
}

.dual2 {
  height: 200px;
  width: max-content;
}

.accordion-item button {
  background-color: transparent;
  border: none;

}

.accordion-item button a {

  color: #141212;
}

.accordion-button:not(.collapsed) {
  color: #141212;
}

.mid-4 .prducts {
  position: relative;
  top: 50px;
  margin-top: -200px;
}

/* Media Query */

@media (max-width: 820px) {

  .mid-4 .prducts {
    position: relative;
    top: 50px;
    margin-top: -200px;
  }

  .dual1 {
    position: relative;
    justify-content: center;
    left: 0px;
    top: 50px;
  }

  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(4, 180px);
    grid-row-gap: 20px;
    padding-bottom: 120px;

  }
}

@media (max-width: 580px) {

  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(2, 250px);
    grid-row-gap: 20px;

  }
}

@media (max-width: 820px) {

  .middle {
    position: relative;
    left: 0;
    height: max-content;
    text-align: left;
    padding-bottom: 239px;
    top: 360px;
    margin-top: 500px;
  }
}

@media (max-width: 820px) {

  .sec .cloud {
    left: 0;
    position: relative;
  }


  .sec img {
    align-items: center;
    justify-content: center;
  }

  .sec p {

    text-align: left;

  }

}

@media (max-width: 820px) {

  .top {
    padding: 20px;
  }
}

@media (max-width: 820px) {

  .btn-centre button {
    margin-left: -50px;
  }
}

@media (max-width: 820px) {

  .btm-top .sec {
    padding-bottom: 150px;
    background-color: #141212;
    width: 100%;
    position: relative;
    left: 2px;

  }
}

@media (max-width: 820px) {
  .sec {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0px;
  }


  .btm-top {
    height: 500px;
  }

}

/* Nav Bar */

.w250 {
  width: 250px;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-dark .navbar-nav a.nav-link {
  color: #ffffff;
  font-size: 1.1em;
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #516beb;
}

.dropdown-menu li:first-child a:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li a {
  color: gray;
  padding: 0.5em 1em;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.1em;
  color: #516beb;
}

@media screen and (min-width: 993px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  .dropdown-menu.show {
    max-height: 60vh;
    overflow-y: scroll;
  }
}





/* Nav bar ends here */

@media (max-width:768px) {
  .sec2 {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(2, 130px);
  }

  .e1 {
    width: 50%;
    padding: 10px;
  }
}

@media (max-width:792px) {
  .sec2 {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(1, 100px);
  }

  .e1 {
    width: 50%;
    padding: 10px;
  }
}


@media (max-width: 400px) {
  .img-fluid img {
    height: 100px;
    width: 300px;
    margin-left: -20px;
    padding-bottom: 50px;
  }
}


@media (max-width: 500px) {
  .btm-top h1 {
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .sec {
    flex-direction: row;
    left: 0px;
  }
}

@media (max-width: 1000px) {
  .sec {

    left: 0px;
  }
}





@media (max-width: 560px) {
  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(2, 80px);
    grid-row-gap: 20px;

  }


}

@media (max-width:670px) {
  .middle {
    position: relative;
    left: 0;
    height: max-content;
    text-align: left;
    padding-bottom: 239px;
    top: 360px;
    margin-top: 350px;
  }
}



@media (max-width: 750px) {
  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(2, 290px);
    grid-row-gap: 10px;

  }
}

@media (max-width: 570px) {
  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 100px);
    grid-row-gap: 20px;
  }
}

@media (max-width:800px) {
  .sec2 {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 400px);
  }
}

@media (max-width: 820px) {
  .e1 {
    width: 50%;
    padding: 20px;
  }
}



@media (max-width: 660px) {
  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(2, 300px);
    grid-row-gap: 20px;

  }
}

@media (max-width: 500px) {
  .prducts {
    position: relative;
    left: 0px;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(2, 120px);
    grid-row-gap: 20px;

  }
}

@media (max-width: 450px) {
  .middle {
    margin-top: 250px;

  }
}

@media (max-width: 450px) {
  .prducts .sec1 {
    position: relative;
    align-items: center;
    justify-content: center;

  }
}

@media (max-width: 450px) {
  .prducts {
    position: relative;
    left: 50px;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(1, 250px);
    grid-row-gap: 20px;

  }
}


@media (max-width:770px) {
  .mid-2 {
    height: max-content;
  }
}